#navi {
    background-color: #333333;
    height: 60px;
}

#navi h1 {
    padding: 0;
    margin: 0 0 0 10px;
    display: inline-block;
    vertical-align: middle;
    color: white;
    line-height: 60px; 
}

#navi-list {
    line-height: 60px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 20px;
    margin: 0;
    padding: 0;
}

#navi-list li{
    float: left;
    margin-left: 2em;
}

#navi-list a{
    text-decoration: none;    
    color: white;
    font-size: 0.8em;
}

main {
    background-color: #dedede;
    padding: 20px;
}

main .article-card:last-child {
    margin-bottom: 0;
}

.article-card {
    background-color: white;
    margin: 0 0 20px 0;
    box-shadow: 2px 2px 1px #8b8b8b;
    padding: 20px;
}

.article-card h1 {
    font-size: 1.4em;
}

.article-card h2 {
    font-size: 1em;
    color: #647062;
}

.article-card address {
    font-style: normal;
    color:#757174;
    font-size: small;
    display: inline;
}

article.article-card p {
    text-indent: 2em;
    line-height: 1.4em;
}

.article-card ul {
    list-style: none;
}

.article-card figure {
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    border: 1px solid #d8d8d8;
    padding: 8px;
    margin-right: 10px;
    float: left;
}

.article-card figure figcaption {
    font-size: small;
    text-align: center;
    margin-bottom: 10px;
}

#tb {
    width: 100%;
    font-size: small;
    border-color: #cccccc;
    border-collapse: collapse;
}

#tb td {
    padding: 5px;
}

#tb tr:first-of-type{
    background-color: #333333;
    color: white;
}

#tb tr:last-of-type{
    background-color: #cccccc;
    font-weight: bold;
}

#info-tb {
    width: 100%;
    font-size: small;
    
}

#info-tb td{
    padding: 5px;    
}

#info-tb tr td:first-child{
    text-align: right;
}

.prompt {
    display: inline-block;
    color: #c1babc;
    margin-bottom: 1em;
}

#submit-btn {
    width: 100%;
    background-color: #3659cd;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

footer {
    clear: both;
    height: 80px;
    background-color: #000000;
}

footer span {
    line-height: 80px;
    display: block;
    text-align: center;
    color: white; 
    font-size: 0.8em; 
}

#main {
    box-sizing: border-box;
    padding-right: 370px;
}

#left {
    box-sizing: border-box;    
    float: left;
    width: 100%;
}

#right {
    box-sizing: border-box;    
    float: left;
    width: 330px;
    margin-left: -350px;
    position: relative;
    right: -370px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}