body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: white;
    padding: 20px;
}

.box {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;   
    border: 1px solid #999;
    padding: 20px;    
}

.container {
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;    
    background-color: #eee;
    border: 1px solid #999;
    padding: 20px;
}

.main{
    width: 100%;
    float: left;    
}

.main-content {
    background-color: white;     
    margin-left: 220px;
    margin-right: 140px;
}

.left {
    background-color: white;         
    width: 200px;
    margin-left: -100%;
    float: left;
}

.right {
    background-color: white;    
    width: 120px;
    margin-left: -120px;
    float: left;
}

.right .sbox{
    width: 80px;
    height: 80px;
    background-color: #eee;
    border: 1px solid #999;
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 20px; 
}

.right .sbox:first-of-type {
    margin-top: 0
}

.right .sbox:last-of-type {
    margin-bottom: 0
}

.left .sbox{
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #eee;
    border: 1px solid #999;
    text-align: center; 
}

.left span {
    vertical-align: top;
}