* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

/* @media all and (max-width:768px){
    .col-1{ width: 33.33%;  }
    .col-2{ width: 50%;     }
    .col-3{ width: 83.33%;  }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;    }

    .row .col-2:last-of-type{
        width: 100%; 
    }

    .row .col-5 ~ .col-1{
        width: 100%; 
    }
} */

.grid-container {
    width: 100%; 
    max-width: 1200px;      
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}

[class*='col-'] {
    float: left; 
    min-height: 1px; 
    width: 8.33%; 
    /*-- our gutter -- */
    padding: 10px;
    background-color: #fff;
}

.col-lg-1 { width: 8.33%; }
.col-lg-2 { width: 16.66%; }
.col-lg-3 { width: 25%; }
.col-lg-4 { width: 33.33%; }
.col-lg-5 { width: 41.66%; }
.col-lg-6 { width: 50%; }
.col-lg-7 { width: 58.33%; }
.col-lg-8 { width: 66.66%; }
.col-lg-9 { width: 75%; }
.col-lg-10 { width: 83.33%; }
.col-lg-11 { width: 91.66%; }
.col-lg-12 { width: 100%; }

.outline, .outline *{
    outline: 1px solid #999; 
}

/*-- some extra column content styling --*/
[class*='col-'] > p {
    background-color: #eee; 
    padding: 10px 0 0 10px;
    margin: 0;
    color: black;
    height: 50px;
    font-size: 14px;
}