* {
    box-sizing: border-box;
}

/* header */
header {
    position: relative;
    width: 100%;
    height: 56px;
    background-color: #2189bf;
    padding: 0 50px;
    .site-icon {
        line-height: 56px;
        margin-top: 10px;
    }
    .search-bar {
        position: absolute;
        display: inline;
        line-height: 56px;
        right: 120px;
        vertical-align: middle;
        img {
            position: absolute;
            top: 21px;
            left: 18px;
        }
        input {
            width: 313px;
            height: 28px;
            border: none;
            border-radius: 28px;
            padding: 0 15px 0 45px;
            font-size: 12px;
        }
    }
    .login-link {
        text-decoration: none;
        height: 56px;
        line-height: 56px;
        vertical-align: middle;
        position: absolute;
        right: 50px;
        img {
            position: relative;
            top: 3px;
        }
        span {
            font-family: AdobeHeitiStd-Regular;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            color: #fff;
        }
    }
}

@media screen and (max-width:576px){
    header {
        .search-bar {
            width: 100%;
            right: 0;
            padding: 0 120px;
            img {
                left: 138px;
            }
            input {
                width: 100%;
            }
        }
    }
}

main {
    padding-left: 260px;
}

/* left column */
.left-column {
    width: 260px;
    background-color: #2a2e3d;
    float: left;
    margin-left: -260px;
    padding: 0;
    height: 1200px;
    .user-card {
        width: 100%;
        height: 150px;
        padding: 20px 45px;
        position: relative;
        .avatar {
            width: 100%;
            margin-bottom: 24px;
            position: relative;      
            img {
                margin-right: 18px;
                vertical-align: middle;
            }
            span {
                font-family: SimHei;
                font-size: 16px;
                line-height: 57px;
                vertical-align: middle;
                color: #f6f5f5;
            }
        }
        .likes-and-fans {
            span {
                display: block;
                font-family: SimHei;
                font-size: 16px;
                color: #6e8095;
                text-align: center;
            }
            label {
                display: block;
                font-family: SimHei;
                font-size: 12px;
                color: #6e8095;
                text-align: center;
            }
            .likes {
                display: inline-block;
                width: 50%;
                border-right: 2px solid #313545;
            }
            .fans {
                display: inline-block;
                width: 50%;
            }
        }
    }

    .hierarchy-wrapper {
        width: 100%;
        height: auto;
        .active {
            background-color: #383d4e;
            padding-bottom: 5px;
        }
        .hierarchy {
            list-style: none;
            margin: 0;
            padding: 5px 0;
            > li {
                min-height: 40px;
                padding-left: 45px;
                > img {
                    vertical-align: middle;
                    margin-right: 13px;
                }
                span {
                    font-family: SimHei;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    letter-spacing: 0px;
                    color: #6e8095;
                    line-height: 40px;
                    vertical-align: middle;
                }
            }
            li > span:hover {
                color: #fff;
            }
            li.active > span {
                color: #fff;
            }
        }

        .second-hierarchy {
            list-style: none;
            padding: 0;
            padding-left: 24px;
            > li {
                min-height: 32px;
                > img {
                    vertical-align: middle;
                    margin-right: 7px;
                }
                span {
                    line-height: 32px;
                }
                &:not(.active)::before {
                    content:url(img/h-arrow-r.png);
                    position: relative;
                    top: 2px;
                    margin-right: 5px;
                }
                &.active::before {
                    content:url(img/h-arrow-d.png);
                    position: relative;
                    top: 2px;
                    left: -3px;
                    margin-right: 2px;
                }
            }

        }

        .third-hierarchy {
            list-style: none;  
            padding: 0;
            padding-left: 24px;            
            > li {
                min-height: 32px;
                > img {
                    vertical-align: middle;
                    margin-right: 7px;
                }
                span {
                    line-height: 30px;
                }
            }
        }
    }
}

/* right column */
.right-column {
    width: 100%;
    height: 1200px;
    background-color: #eeeeed;
    float: left;  
    .breadcrumb {
        width: 100%;
        height: 31px;
        background-color: #fff;
        padding-left: 30px;
        span {
            font-family: SimHei;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 31px;
            letter-spacing: 0px;
            color: #aaaaaa;
            vertical-align: middle;
            &.active {
                color: #729fc6;
            }
        }
    }  
    .main-content {
        padding: 20px 65px 0 65px;
        background-color: #eeeeed;
        .basic-button {
            border: none;
            min-width: 51px;
            min-height: 26px;
            border-radius: 3px;
            background-color: #388ac1;
            color: #fff;
            font-family: SimHei;
            font-size: 12px;
        }
        .basic-shadow-box {
            box-shadow: -1px -1px 1px #dddee0;
        }
        .basic-label {
            font-family: SimHei;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            color: #aaaaaa;
            margin-right: 12px;
        } 
        .label-margin-left {
            margin-left: 15px;
        }
        .basic-select {         
            appearance:none;
            -moz-appearance:none;
            -webkit-appearance:none;
            border: solid 1px #ababab;
            border-radius: 0;
            height: 28px;
            font-family: SimHei;
            font-size: 12px;
            background: url("img/select-arrow.png") no-repeat scroll right center transparent;
            padding: 0 22px 0 11px;
            margin-bottom: 4px;
            &::-ms-expand { 
                display: none;
            }
        }
        .select-s {
            min-width: 70px;
        }
        .select-l {
            min-width: 120px;
        }
        .basic-part {
            width: 891px;
            margin: 0 auto;
        }

        /* part 1 */
        .first-part {
            height: 86px;
            background-color: #fff;
            padding: 0 15px;
            margin-bottom: 9px;
            .first-part-block{
                float: left;                
                padding: 14px 5px; 
                height: 100%;    
            }
            .left-1 {
                width: 20%;
            }
            .left-2 {
                width: 25%;
                position: relative;
                .exchange-button {
                    position: absolute;
                    top: 24px;
                }
            }
            .left-3 {
                width: 40%;
            }
            .left-4 {
                width: 10%;
                position: relative;      
            }
        }

        /* part 2 */
        .sec-part {
            height: 65px;
            margin-bottom: 21px;
            .basic-card {
                float: left;
                height: 100%;
                background-color: #fff; 
                &:not(:last-of-type){
                    margin-right: 4px; 
                }
            }
            .price-card {
                width: 111px;
                padding: 15px 0 0 0;
                position: relative;
                &.active{
                    border-top: solid 4px #4389c9;
                    padding-top: 11px;
                }
                .time {
                    font-family: MicrosoftYaHei;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    letter-spacing: 0px;
                    color: #323333;
                    position: absolute;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                            transform: translateX(-50%);
                }
                .rmb {
                    color: #adadad;
                    font-size: 18px;
                    position: absolute;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                            transform: translateX(-50%);
                }
                .price {
                    width: 45px;
                    height: 16px;
                    font-family: MicrosoftYaHei;
                    font-size: 22px;
                    letter-spacing: 0px;
                    color: #ec6500;
                }
            }
            .change-date-button {
                width: 31px;
                position: relative;
            }
            .history-check {
                width: 131px;
                padding: 17px 0 0 19px;
                img {
                    margin-right: 11px;
                    vertical-align: middle;
                }
                span {
                    font-family: MicrosoftYaHei;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    letter-spacing: 0px;
                    color: #535353;
                }
            }
        }

        /* part 3 */
        .third-part {
            margin-bottom: 3px;
            span {
                font-family: MicrosoftYaHei;
                font-size: 12px;
                color: #323333;
            }
        }

        /* part 4 */
        .fourth-part {
            position: relative;
            height: 71px;
            margin-bottom: 14px;
            .trading-volume {
                position: relative;
                float: left;
                width: 201px;
                height: 71px;
                border-left: 4px solid ;
                background-color: #fff;
                padding-top: 21px;
                &:not(:last-of-type) {
                    margin-right: 29px;
                }
                &:nth-of-type(1){
                    border-color: #43b29e;
                    .color-block {
                        background-color: #43b29e;                 
                    }
                }
                &:nth-of-type(2){
                    border-color: #388ac1;
                    .color-block {
                        background-color: #388ac1;                 
                    }
                }
                &:nth-of-type(3){
                    border-color: #cf4a36;
                    .color-block {
                        background-color: #cf4a36;                 
                    }
                }
                &:nth-of-type(4){
                    border-color: #e2cd47;
                    .color-block {
                        background-color: #e2cd47;                 
                    }
                }
                .number {
                    font-family: SimHei;
                    font-size: 12px;
                    color: #323333;
                    margin: 0 14px 0 12px;
                }
                .label {
                    font-family: SimHei;
                    font-size: 10px;
                    color: #aaaaaa;
                    margin-left: 12px;
                }
                .color-block {
                    position: absolute;
                    height: 47px;
                    width: 61px;
                    top: 12px;
                    right: 15px;
                }
            }
        }

        /* some basic box style in part 5 and 6 */
        .rounded-corner-box {
            border-radius: 8px;
            background-color: #fff;
            float: left;
            height: 100%;
            position: relative;
            border: solid 1px #c6c9cd; 
            padding-top: 54px;          
        }
        .box-header{
            position: absolute;
            height: 41px;
            width: 100%;
            background-color: #f4f5f6;
            top: 0;
            border-radius: 8px 8px 0 0;
            padding-left: 20px;
            span {
                font-family: MicrosoftYaHei;
                font-size: 12px;
                line-height: 41px;
                color: #aaaaaa;
                vertical-align: middle;
            }
        }

        /* part 5 */
        .fifth-part {
            height: 357px;
            margin-bottom: 9px;
            .left {
                width: 531px;
                margin-right: 9px;
                .hidden-input {
                    display: none;
                }
                .tab-list {
                    list-style: none;
                    margin: 0 20px;
                    padding: 0; 
                    li {
                        width: 86px;
                        height: 28px;
                        border-radius: 8px 8px 0 0;
                        background-color: #ececef;
                        float: left;
                        &:not(:last-of-type) {
                            margin-right: 5px;
                        }
                        label {
                            font-family: MicrosoftYaHei;
                            font-size: 12px;
                            line-height: 28px;
                            vertical-align: middle;
                            text-align: center;
                            letter-spacing: 0px;
                            color: #535353;
                            margin-left: 25px;
                        }
                    }
                }
                .tab-content {
                    width: 491px;
                    height: 251px;
                    margin: 0 20px;
                    border: 1px solid #cbcccc;
                    border-radius: 0 8px 8px 8px;
                    clear: both;
                    position: relative;
                    .content {
                        display: none;
                        h1 {
                            margin-left: 30px;
                            color: #535353;
                            font-size: 24px;
                        }
                    }
                    .content-1 {
                        padding-top: 30px;
                        table {
                            border-collapse: collapse;
                            margin: 0 auto;
                            td {
                                width: 102px;
                                height: 31px;
                                border: 1px solid #dddede;
                                font-family: SimSun;
                                font-size: 12px;
                                color: #535353;
                                text-align: center;
                                &:hover {
                                    background-color: #f4f5f6
                                }
                            }
                        }
                    }
                }


                /* 
                use Sass @for syntax to make switching tabs valid   
                */
                @for $i from 1 through 5 {
                    .hidden-input:nth-of-type(#{$i}):checked ~ .tab-content > div:nth-of-type(#{$i}) {
                        display: block;
                    }
                    .hidden-input:nth-of-type(#{$i}):checked ~ .tab-list > li:nth-of-type(#{$i}) {
                        border: 1px solid #cbcccc;
                        border-radius: 8px 8px 0 0;
                        background-color: #fff;
                        border-bottom: none;
                        position: relative;
                        bottom: -1px;
                    }
                }
            }
            .right {
                width: 351px;
                .box-content {
                    width: 100%;
                    height: 100%;
                    padding: 0 35px;
                    table {
                        width: 100%;
                        border-collapse: collapse; 
                        span {
                            font-family: MicrosoftYaHei;
                            font-size: 12px;
                            color: #c3c2c2;
                        }   
                        p {
                            margin: 7px 0 0 0; 
                            font-family: MicrosoftYaHei;
                            font-size: 12px;
                            font-weight: normal;
                            font-stretch: normal;
                            letter-spacing: 0px;
                            color: #535353;
                        }
                        td {
                            border: 1px solid #cbcccc;
                            padding-left: 15px;
                        }
                        tr {
                            height: 45px;
                        }
                        tr:nth-of-type(1){
                            td {
                                border-top: none;
                                border-left: none;
                                border-right: none;
                            }
                        }
                        tr:nth-of-type(2){
                            td:nth-of-type(1) {
                                border-left: none;
                            }
                            td:nth-of-type(2) {
                                border-right: none;
                            }
                        }
                        tr:nth-of-type(3){
                            height: 147px;
                            vertical-align: top;
                            td {
                                border-left: none;
                                border-right: none;
                            }
                        }
                        tr:nth-of-type(4){
                            height: 36px;
                            td {
                                padding-left: 0;
                                border-bottom: none;
                                border-left: none;
                                border-right: none;
                            }
                        }
                        .basic-button {
                            float: right;
                        }
                    }
                }
            }
        }

        /* part 6 */
        .sixth-part {
            height: 357px;
            .left {
                width: 351px;
                margin-right: 9px;
                .box-content{
                    padding: 0 20px;
                    height: 100%;
                    /* calendar */
                    .calendar {
                        .date-picker {
                            height: 32px;
                            select {
                                width: 70px;
                                height: 23px;
                                border: 1px solid #e1e1e1;
                                font-family: SimHei;
                                font-size: 12px;
                                color: #535353;
                                border-radius: 0;
                            
                                /*很关键：将默认的select选择框样式清除*/
                                appearance:none;
                                -moz-appearance:none;
                                -webkit-appearance:none;
                            
                                /*在选择框的最右侧中间显示小箭头图片*/
                                background: url("img/select-arrow.png") no-repeat scroll right center;
                            
                                /*为下拉小箭头留出一点位置，避免被文字覆盖*/
                                padding-left: 5px;
                            }
                            button {
                                width: 75px;
                                height: 23px;
                                border: 1px solid #e1e1e1;
                                font-family: SimHei;
                                font-size: 12px;
                                color: #535353;
                            }
                        }
                        .day-displayer {
                            height: 32px;
                            border-top: 1px solid #a9cfec;
                            border-bottom: 1px solid #e1e1e1;
                            padding-top: 8px;
                            span {
                                display: block;
                                float: left;
                                width: 14.2%;
                                font-family: SimHei;
                                font-size: 12px;
                                color: #535353;
                                text-align: center;
                            }
                        }
                        .date-displayer {
                            width: 100%;
                            .single-date-wrapper {
                                width: 14.2%;
                                height: 44px;
                                float: left;
                                text-align: center;
                                padding-top: 3px;
                                margin-bottom: 1px;
                                &.active {
                                    border: 1px solid #f5c62b;
                                }
                                &.festival {
                                    p {
                                        color: #c9161d;
                                    }
                                }
                                &:hover {
                                    background-color:  #eeeeed;
                                }
                                span {
                                    font-family: SimHei;
                                    font-size: 11px;
                                    color: #323333;
                                }
                                p {
                                    margin: 0;
                                    font-family: SimHei;
                                    font-size: 11px;
                                    color: #323333;
                                }
                            }
                            .single-date-wrapper:nth-of-type(7n-1), .single-date-wrapper:nth-of-type(7n){
                                span {
                                    color: #c9161d;
                                }
                            }
                        }
                    }
                }
            }
            .right {
                width: 531px;
                .box-content{
                    padding: 0 40px;
                    .car-brand-rank {
                        border-collapse: collapse;
                        width: 100%;
                        margin-top: 15px;
                        thead {
                            td {
                                font-family: SimHei;
                                font-size: 13px;
                                font-weight: normal;
                                font-stretch: normal;
                                letter-spacing: 0px;
                                color: #231815;
                                font-weight: bolder;
                            }
                        }
                        tr:hover {
                            background-color: #f4f5f6;
                        }
                        td {
                            border: 1px solid #c7c7c8;
                            height: 23px;
                            text-align: center;
                            vertical-align: middle;
                            font-family: SimHei;
                            font-size: 12px;
                            font-weight: normal;
                            font-stretch: normal;
                            letter-spacing: 0px;
                            color: #323333;
                            .bar {
                                width: 167px;
                                height: 4px;
                                background-color: #dcdcdc;
                                display: inline-block;
                                vertical-align: middle;
                                margin: 0 20px;
                                position: relative;
                                .bar-content {
                                    height: 4px;
                                    position: absolute;
                                    vertical-align: middle;
                                    left: 0;
                                    top: 0;
                                }
                            }
                        }
                        td:nth-child(1){
                            width: 67px;
                        }
                        td:nth-child(2){
                            width: 90px;
                        }
                        td:nth-child(3){
                            text-align: right;
                        }
                        thead td:nth-child(3) {
                            text-align: center;
                        }
                        tbody {
                            & > tr {
                                .bar-content {
                                    background-color: #7fcbf0;
                                }
                            }
                            tr:nth-child(1) {
                                .bar-content {
                                    width: 85%;
                                    background-color: #ec6d51;
                                }
                            }
                            tr:nth-child(2) {
                                .bar-content {
                                    width: 80%;
                                    background-color: #ec6d51;
                                }
                            }
                            tr:nth-child(3) {
                                .bar-content {
                                    width: 75%;
                                    background-color: #f19e4f;
                                }
                            }
                            tr:nth-child(4) {
                                .bar-content {
                                    width: 70%;
                                }
                            }
                            tr:nth-child(5) {
                                .bar-content {
                                    width: 65%;
                                }
                            }
                            tr:nth-child(6) {
                                .bar-content {
                                    width: 60%;
                                }
                            }
                            tr:nth-child(7) {
                                .bar-content {
                                    width: 55%;
                                }
                            }
                            tr:nth-child(8) {
                                .bar-content {
                                    width: 52%;
                                }
                            }
                            tr:nth-child(9) {
                                .bar-content {
                                    width: 48%;
                                }
                            }
                            tr:nth-child(10) {
                                .bar-content {
                                    width: 44%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* some common style */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.vertical-middle-wrapper {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.horizontal-middle-wrapper {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.center-wrapper {
    position: absolute;
    top: 50%;    
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

/* apply this to containers */
.flex-center {
    display:flex;
    align-items:center;
    justify-content:center;  
}
