* {
  box-sizing: border-box;
}

/* header */
header {
  position: relative;
  width: 100%;
  height: 56px;
  background-color: #2189bf;
  padding: 0 50px;
}
header .site-icon {
  line-height: 56px;
  margin-top: 10px;
}
header .search-bar {
  position: absolute;
  display: inline;
  line-height: 56px;
  right: 120px;
  vertical-align: middle;
}
header .search-bar img {
  position: absolute;
  top: 21px;
  left: 18px;
}
header .search-bar input {
  width: 313px;
  height: 28px;
  border: none;
  border-radius: 28px;
  padding: 0 15px 0 45px;
  font-size: 12px;
}
header .login-link {
  text-decoration: none;
  height: 56px;
  line-height: 56px;
  vertical-align: middle;
  position: absolute;
  right: 50px;
}
header .login-link img {
  position: relative;
  top: 3px;
}
header .login-link span {
  font-family: AdobeHeitiStd-Regular;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #fff;
}

@media screen and (max-width: 576px) {
  header .search-bar {
    width: 100%;
    right: 0;
    padding: 0 120px;
  }
  header .search-bar img {
    left: 138px;
  }
  header .search-bar input {
    width: 100%;
  }
}
main {
  padding-left: 260px;
}

/* left column */
.left-column {
  width: 260px;
  background-color: #2a2e3d;
  float: left;
  margin-left: -260px;
  padding: 0;
  height: 1200px;
}
.left-column .user-card {
  width: 100%;
  height: 150px;
  padding: 20px 45px;
  position: relative;
}
.left-column .user-card .avatar {
  width: 100%;
  margin-bottom: 24px;
  position: relative;
}
.left-column .user-card .avatar img {
  margin-right: 18px;
  vertical-align: middle;
}
.left-column .user-card .avatar span {
  font-family: SimHei;
  font-size: 16px;
  line-height: 57px;
  vertical-align: middle;
  color: #f6f5f5;
}
.left-column .user-card .likes-and-fans span {
  display: block;
  font-family: SimHei;
  font-size: 16px;
  color: #6e8095;
  text-align: center;
}
.left-column .user-card .likes-and-fans label {
  display: block;
  font-family: SimHei;
  font-size: 12px;
  color: #6e8095;
  text-align: center;
}
.left-column .user-card .likes-and-fans .likes {
  display: inline-block;
  width: 50%;
  border-right: 2px solid #313545;
}
.left-column .user-card .likes-and-fans .fans {
  display: inline-block;
  width: 50%;
}
.left-column .hierarchy-wrapper {
  width: 100%;
  height: auto;
}
.left-column .hierarchy-wrapper .active {
  background-color: #383d4e;
  padding-bottom: 5px;
}
.left-column .hierarchy-wrapper .hierarchy {
  list-style: none;
  margin: 0;
  padding: 5px 0;
}
.left-column .hierarchy-wrapper .hierarchy > li {
  min-height: 40px;
  padding-left: 45px;
}
.left-column .hierarchy-wrapper .hierarchy > li > img {
  vertical-align: middle;
  margin-right: 13px;
}
.left-column .hierarchy-wrapper .hierarchy > li span {
  font-family: SimHei;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #6e8095;
  line-height: 40px;
  vertical-align: middle;
}
.left-column .hierarchy-wrapper .hierarchy li > span:hover {
  color: #fff;
}
.left-column .hierarchy-wrapper .second-hierarchy {
  list-style: none;
  padding: 0;
  padding-left: 24px;
}
.left-column .hierarchy-wrapper .second-hierarchy > li {
  min-height: 32px;
}
.left-column .hierarchy-wrapper .second-hierarchy > li > img {
  vertical-align: middle;
  margin-right: 7px;
}
.left-column .hierarchy-wrapper .second-hierarchy > li span {
  line-height: 32px;
}
.left-column .hierarchy-wrapper .third-hierarchy {
  list-style: none;
  padding: 0;
  padding-left: 24px;
}
.left-column .hierarchy-wrapper .third-hierarchy > li {
  min-height: 32px;
}
.left-column .hierarchy-wrapper .third-hierarchy > li > img {
  vertical-align: middle;
  margin-right: 7px;
}
.left-column .hierarchy-wrapper .third-hierarchy > li span {
  line-height: 30px;
}

/* right column */
.right-column {
  width: 100%;
  height: 1200px;
  background-color: #eeeeed;
  float: left;
}

/* some common style */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.vertical-middle-wrapper {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-middle-wrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.center-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* apply this to containers */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=task9.css.map */
