* {
  box-sizing: border-box;
}

/* header */
header {
  position: relative;
  width: 100%;
  height: 56px;
  background-color: #2189bf;
  padding: 0 50px;
}
header .site-icon {
  line-height: 56px;
  margin-top: 10px;
}
header .search-bar {
  position: absolute;
  display: inline;
  line-height: 56px;
  right: 120px;
  vertical-align: middle;
}
header .search-bar img {
  position: absolute;
  top: 21px;
  left: 18px;
}
header .search-bar input {
  width: 313px;
  height: 28px;
  border: none;
  border-radius: 28px;
  padding: 0 15px 0 45px;
  font-size: 12px;
}
header .login-link {
  text-decoration: none;
  height: 56px;
  line-height: 56px;
  vertical-align: middle;
  position: absolute;
  right: 50px;
}
header .login-link img {
  position: relative;
  top: 3px;
}
header .login-link span {
  font-family: AdobeHeitiStd-Regular;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #fff;
}

@media screen and (max-width: 576px) {
  header .search-bar {
    width: 100%;
    right: 0;
    padding: 0 120px;
  }
  header .search-bar img {
    left: 138px;
  }
  header .search-bar input {
    width: 100%;
  }
}
main {
  padding-left: 260px;
}

/* left column */
.left-column {
  width: 260px;
  background-color: #2a2e3d;
  float: left;
  margin-left: -260px;
  padding: 0;
  height: 1200px;
}
.left-column .user-card {
  width: 100%;
  height: 150px;
  padding: 20px 45px;
  position: relative;
}
.left-column .user-card .avatar {
  width: 100%;
  margin-bottom: 24px;
  position: relative;
}
.left-column .user-card .avatar img {
  margin-right: 18px;
  vertical-align: middle;
}
.left-column .user-card .avatar span {
  font-family: SimHei;
  font-size: 16px;
  line-height: 57px;
  vertical-align: middle;
  color: #f6f5f5;
}
.left-column .user-card .likes-and-fans span {
  display: block;
  font-family: SimHei;
  font-size: 16px;
  color: #6e8095;
  text-align: center;
}
.left-column .user-card .likes-and-fans label {
  display: block;
  font-family: SimHei;
  font-size: 12px;
  color: #6e8095;
  text-align: center;
}
.left-column .user-card .likes-and-fans .likes {
  display: inline-block;
  width: 50%;
  border-right: 2px solid #313545;
}
.left-column .user-card .likes-and-fans .fans {
  display: inline-block;
  width: 50%;
}
.left-column .hierarchy-wrapper {
  width: 100%;
  height: auto;
}
.left-column .hierarchy-wrapper .active {
  background-color: #383d4e;
  padding-bottom: 5px;
}
.left-column .hierarchy-wrapper .hierarchy {
  list-style: none;
  margin: 0;
  padding: 5px 0;
}
.left-column .hierarchy-wrapper .hierarchy > li {
  min-height: 40px;
  padding-left: 45px;
}
.left-column .hierarchy-wrapper .hierarchy > li > img {
  vertical-align: middle;
  margin-right: 13px;
}
.left-column .hierarchy-wrapper .hierarchy > li span {
  font-family: SimHei;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #6e8095;
  line-height: 40px;
  vertical-align: middle;
}
.left-column .hierarchy-wrapper .hierarchy li > span:hover {
  color: #fff;
}
.left-column .hierarchy-wrapper .hierarchy li.active > span {
  color: #fff;
}
.left-column .hierarchy-wrapper .second-hierarchy {
  list-style: none;
  padding: 0;
  padding-left: 24px;
}
.left-column .hierarchy-wrapper .second-hierarchy > li {
  min-height: 32px;
}
.left-column .hierarchy-wrapper .second-hierarchy > li > img {
  vertical-align: middle;
  margin-right: 7px;
}
.left-column .hierarchy-wrapper .second-hierarchy > li span {
  line-height: 32px;
}
.left-column .hierarchy-wrapper .second-hierarchy > li:not(.active)::before {
  content: url(img/h-arrow-r.png);
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.left-column .hierarchy-wrapper .second-hierarchy > li.active::before {
  content: url(img/h-arrow-d.png);
  position: relative;
  top: 2px;
  left: -3px;
  margin-right: 2px;
}
.left-column .hierarchy-wrapper .third-hierarchy {
  list-style: none;
  padding: 0;
  padding-left: 24px;
}
.left-column .hierarchy-wrapper .third-hierarchy > li {
  min-height: 32px;
}
.left-column .hierarchy-wrapper .third-hierarchy > li > img {
  vertical-align: middle;
  margin-right: 7px;
}
.left-column .hierarchy-wrapper .third-hierarchy > li span {
  line-height: 30px;
}

/* right column */
.right-column {
  width: 100%;
  height: 1200px;
  background-color: #eeeeed;
  float: left;
}
.right-column .breadcrumb {
  width: 100%;
  height: 31px;
  background-color: #fff;
  padding-left: 30px;
}
.right-column .breadcrumb span {
  font-family: SimHei;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 31px;
  letter-spacing: 0px;
  color: #aaaaaa;
  vertical-align: middle;
}
.right-column .breadcrumb span.active {
  color: #729fc6;
}
.right-column .main-content {
  padding: 20px 65px 0 65px;
  background-color: #eeeeed;
  /* part 1 */
  /* part 2 */
  /* part 3 */
  /* part 4 */
  /* some basic box style in part 5 and 6 */
  /* part 5 */
  /* part 6 */
}
.right-column .main-content .basic-button {
  border: none;
  min-width: 51px;
  min-height: 26px;
  border-radius: 3px;
  background-color: #388ac1;
  color: #fff;
  font-family: SimHei;
  font-size: 12px;
}
.right-column .main-content .basic-shadow-box {
  box-shadow: -1px -1px 1px #dddee0;
}
.right-column .main-content .basic-label {
  font-family: SimHei;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #aaaaaa;
  margin-right: 12px;
}
.right-column .main-content .label-margin-left {
  margin-left: 15px;
}
.right-column .main-content .basic-select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: solid 1px #ababab;
  border-radius: 0;
  height: 28px;
  font-family: SimHei;
  font-size: 12px;
  background: url("img/select-arrow.png") no-repeat scroll right center transparent;
  padding: 0 22px 0 11px;
  margin-bottom: 4px;
}
.right-column .main-content .basic-select::-ms-expand {
  display: none;
}
.right-column .main-content .select-s {
  min-width: 70px;
}
.right-column .main-content .select-l {
  min-width: 120px;
}
.right-column .main-content .basic-part {
  width: 891px;
  margin: 0 auto;
}
.right-column .main-content .first-part {
  height: 86px;
  background-color: #fff;
  padding: 0 15px;
  margin-bottom: 9px;
}
.right-column .main-content .first-part .first-part-block {
  float: left;
  padding: 14px 5px;
  height: 100%;
}
.right-column .main-content .first-part .left-1 {
  width: 20%;
}
.right-column .main-content .first-part .left-2 {
  width: 25%;
  position: relative;
}
.right-column .main-content .first-part .left-2 .exchange-button {
  position: absolute;
  top: 24px;
}
.right-column .main-content .first-part .left-3 {
  width: 40%;
}
.right-column .main-content .first-part .left-4 {
  width: 10%;
  position: relative;
}
.right-column .main-content .sec-part {
  height: 65px;
  margin-bottom: 21px;
}
.right-column .main-content .sec-part .basic-card {
  float: left;
  height: 100%;
  background-color: #fff;
}
.right-column .main-content .sec-part .basic-card:not(:last-of-type) {
  margin-right: 4px;
}
.right-column .main-content .sec-part .price-card {
  width: 111px;
  padding: 15px 0 0 0;
  position: relative;
}
.right-column .main-content .sec-part .price-card.active {
  border-top: solid 4px #4389c9;
  padding-top: 11px;
}
.right-column .main-content .sec-part .price-card .time {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #323333;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.right-column .main-content .sec-part .price-card .rmb {
  color: #adadad;
  font-size: 18px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.right-column .main-content .sec-part .price-card .price {
  width: 45px;
  height: 16px;
  font-family: MicrosoftYaHei;
  font-size: 22px;
  letter-spacing: 0px;
  color: #ec6500;
}
.right-column .main-content .sec-part .change-date-button {
  width: 31px;
  position: relative;
}
.right-column .main-content .sec-part .history-check {
  width: 131px;
  padding: 17px 0 0 19px;
}
.right-column .main-content .sec-part .history-check img {
  margin-right: 11px;
  vertical-align: middle;
}
.right-column .main-content .sec-part .history-check span {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #535353;
}
.right-column .main-content .third-part {
  margin-bottom: 3px;
}
.right-column .main-content .third-part span {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #323333;
}
.right-column .main-content .fourth-part {
  position: relative;
  height: 71px;
  margin-bottom: 14px;
}
.right-column .main-content .fourth-part .trading-volume {
  position: relative;
  float: left;
  width: 201px;
  height: 71px;
  border-left: 4px solid;
  background-color: #fff;
  padding-top: 21px;
}
.right-column .main-content .fourth-part .trading-volume:not(:last-of-type) {
  margin-right: 29px;
}
.right-column .main-content .fourth-part .trading-volume:nth-of-type(1) {
  border-color: #43b29e;
}
.right-column .main-content .fourth-part .trading-volume:nth-of-type(1) .color-block {
  background-color: #43b29e;
}
.right-column .main-content .fourth-part .trading-volume:nth-of-type(2) {
  border-color: #388ac1;
}
.right-column .main-content .fourth-part .trading-volume:nth-of-type(2) .color-block {
  background-color: #388ac1;
}
.right-column .main-content .fourth-part .trading-volume:nth-of-type(3) {
  border-color: #cf4a36;
}
.right-column .main-content .fourth-part .trading-volume:nth-of-type(3) .color-block {
  background-color: #cf4a36;
}
.right-column .main-content .fourth-part .trading-volume:nth-of-type(4) {
  border-color: #e2cd47;
}
.right-column .main-content .fourth-part .trading-volume:nth-of-type(4) .color-block {
  background-color: #e2cd47;
}
.right-column .main-content .fourth-part .trading-volume .number {
  font-family: SimHei;
  font-size: 12px;
  color: #323333;
  margin: 0 14px 0 12px;
}
.right-column .main-content .fourth-part .trading-volume .label {
  font-family: SimHei;
  font-size: 10px;
  color: #aaaaaa;
  margin-left: 12px;
}
.right-column .main-content .fourth-part .trading-volume .color-block {
  position: absolute;
  height: 47px;
  width: 61px;
  top: 12px;
  right: 15px;
}
.right-column .main-content .rounded-corner-box {
  border-radius: 8px;
  background-color: #fff;
  float: left;
  height: 100%;
  position: relative;
  border: solid 1px #c6c9cd;
  padding-top: 54px;
}
.right-column .main-content .box-header {
  position: absolute;
  height: 41px;
  width: 100%;
  background-color: #f4f5f6;
  top: 0;
  border-radius: 8px 8px 0 0;
  padding-left: 20px;
}
.right-column .main-content .box-header span {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  line-height: 41px;
  color: #aaaaaa;
  vertical-align: middle;
}
.right-column .main-content .fifth-part {
  height: 357px;
  margin-bottom: 9px;
}
.right-column .main-content .fifth-part .left {
  width: 531px;
  margin-right: 9px;
}
.right-column .main-content .fifth-part .left .tab-list {
  list-style: none;
  margin: 0 20px;
  padding: 0;
}
.right-column .main-content .fifth-part .left .tab-list .hidden-input {
  display: none;
}
.right-column .main-content .fifth-part .left .tab-list li {
  width: 86px;
  height: 28px;
  border-radius: 8px 8px 0 0;
  background-color: #ececef;
  float: left;
}
.right-column .main-content .fifth-part .left .tab-list li:not(:last-of-type) {
  margin-right: 5px;
}
.right-column .main-content .fifth-part .left .tab-list li label {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  line-height: 28px;
  vertical-align: middle;
  text-align: center;
  letter-spacing: 0px;
  color: #535353;
  margin-left: 25px;
}
.right-column .main-content .fifth-part .left .tab-content {
  width: 491px;
  height: 251px;
  margin: 0 20px;
  border: 1px solid #cbcccc;
  border-radius: 0 8px 8px 8px;
  clear: both;
}
.right-column .main-content .fifth-part .left .content-1, .right-column .main-content .fifth-part .left .content-2 {
  display: none;
}
.right-column .main-content .fifth-part .right {
  width: 351px;
}
.right-column .main-content .sixth-part {
  height: 357px;
}
.right-column .main-content .sixth-part .left {
  width: 351px;
  margin-right: 9px;
}
.right-column .main-content .sixth-part .right {
  width: 531px;
}

/* some common style */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.vertical-middle-wrapper {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-middle-wrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.center-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* apply this to containers */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=task9.css.map */
