* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; /* 移动端使用无衬线字体 */
    overflow-y: scroll;
}

a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
html, body {
    -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
    font-size: 37.5px; /* 用来统一全局长度 */
    .container {
        height: 100%;
        width: 100%;
    }
}

/* header */
header {
    .container {
        height: 1.15rem;
        width: 100%;
        background-color: #91d4da;
        display: flex;
        justify-content: center;  
        align-items: center;
        position: relative;
        span {
            color: #fff;
        }
        .go-back{
            left: 0;
            position: absolute;
            font-size: 0.45rem;
            display: inline-flex;
            align-items: center;
            span {
                position: relative;
                left: -0.15rem;
            }
            img {
                width: 0.8rem;
            }
        }
        .page-title {
            margin: auto;
            font-size: 0.5rem;
        }
    }
}

/* navigation bar */
nav {
    width: 100%;
    height: 1.15rem;
    background: #fff;
    .nav-list {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        display: flex;
        height: 100%;        
        li {
            display: inline-flex;
            width: 20%;
            height: 100%;
            justify-content: center;  
            align-items: center;
            span {
                font-size: 0.45rem;
                color: 35f5f5f;
            }
            &:hover {
                border-bottom: 0.08rem solid #8ed8d7;
            }
        }
    }
}

/* main */
main {
    .main-pic {
        height: auto;
        width: 100%;
    }
    .tags {
        width: 100%;
        height: auto;
        padding: 0 0.3rem;
        .tag-list {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            border-bottom: 0.03rem solid #dedede;
            padding-top: 0.3rem;
            padding-bottom: 0.5rem;
            li {
                width: 20%;
                height: 100%;
                display: inline-flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: space-around;
                .form-circle {
                    width: 1.2rem;
                    height: 1.2rem;
                    border-radius: 1.2rem;
                    background-color: #00c8d7; 
                    display: flex;
                    margin-bottom: 0.4rem;
                    img {
                        margin: auto;
                        width: 60%;
                    }
                }
                span {
                    width: 100%;
                    text-align: center;
                    font-size: 0.35rem;
                }
            }
        }
    }
    .div-column {
        height: auto;
        width: 100%;
        padding: 0.4rem 0.3rem;
        .column {
            width: 33.3%;
            display: inline-flex;
            flex-wrap: wrap;
            align-content: center;
            img {
                margin-bottom: 0.15rem;
            }
            span {
                text-align: center;
                width: 100%;
                margin: 0 auto;
            }
            .heading {
                font-size: 0.5rem;
                margin-bottom: 0.3rem;
            }
            .sec-heading {       
                font-size: 0.3rem;
                color: #5f5f5f;
            }
        }
        .border-column {
            border: 1px solid #dfdfdf;
            border-top: none;
            border-bottom: none;
        }
    }
    .wide-divider {
        background: #f5f5f5;
        width: 100%;
        height: 0.35rem;
    }
    .module {
        padding: 0.4rem 0.3rem;
        .module-header {
            border-bottom: 1px solid #dfdfdf; 
            display: flex;
            align-items: flex-start;
            span {
                font-size: 0.5rem;
                color: #666666;
                margin-bottom: 0.3rem;
            }
        }
        .module-row {
            margin-top: 0.4rem;
            display: flex;
            flex-wrap: nowrap;
            .left-img {
                border: 1px solid #fbb22f;
                flex: 1;
            }
            .right-txt {
                display: flex;
                flex-wrap: wrap;
                flex: 3;               
                .first-column {
                    margin-left: 0.3rem;
                    height: 100%;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                }
                .sec-column {
                    margin-left: 0.3rem;
                    height: 100%;
                    flex: 1;     
                    display: flex;
                    flex-direction: column;
                }
                .single-txt {
                    background-color: #f8f8f8;
                    flex: 1;   
                    display: flex;          
                    &:nth-child(1) {
                        margin-bottom: 0.3rem;
                    }
                    span {
                        margin: auto;
                        border-radius: 0.05rem;
                        font-size: 0.3rem;
                        color: #525252;
                    }
                }
            }
        }
    }
    .article-module {
        display: flex;
        flex-wrap: wrap;
        padding: 0.25rem 0.3rem;
        background-color: #fff;
        border-bottom: 2px solid #f2f2f2;
        .article-module-image {
            flex: 11;
            margin-right: 0.3rem;
        }
        .article-module-brief {
            flex: 25;  
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h6 {
                margin: 0;
                padding: 0;
                font-size: 0.45rem;
                color: #656565;
            }
            span {
                font-size: 0.25rem;
                color: #c1c1c1;
            }          
        }
    }
    .article-module-multiple-pic {
        padding: 0.25rem 0.3rem;
        display: flex;     
        flex-wrap: wrap;            
        flex-direction: column;
        justify-content: space-between;
        h6 {
            margin: 0 0 0.3rem 0;
            padding: 0;
            font-size: 0.45rem;
            color: #656565;
        }
        .article-module-image {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 0.3rem; 
            img {
                flex: 1;
            }         
        }
        span {
            font-size: 0.25rem;
            color: #c1c1c1;
        }   
    }
}
