* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; /* 移动端使用无衬线字体 */
}

a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
html, body {
    -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
    font-size: 37.5px;
    .container {
        height: 100%;
        width: 100%;
    }
}

/* header */
header {
    .container {
        height: 1.15rem;
        width: 100%;
        background-color: #91d4da;
        display: flex;
        justify-content: center;  
        align-items: center;
        position: relative;
        span {
            color: #fff;
        }
        .go-back{
            left: 0;
            position: absolute;
            font-size: 0.45rem;
            display: inline-flex;
            align-items: center;
            span {
                position: relative;
                left: -0.15rem;
            }
            img {
                width: 0.8rem;
            }
        }
        .page-title {
            margin: auto;
            font-size: 0.5rem;
        }
    }
}

/* navigation bar */
nav {
    width: 100%;
    height: 1.15rem;
    background: #fff;
    .nav-list {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        display: flex;
        height: 100%;        
        li {
            display: inline-flex;
            width: 20%;
            height: 100%;
            justify-content: center;  
            align-items: center;
            span {
                font-size: 0.45rem;
                color: 35f5f5f;
            }
            &:hover {
                border-bottom: 0.08rem solid #8ed8d7;
            }
        }
    }
}

/* main */
main {
    .banner {
        height: 5.5rem;
        width: 100%;
    }
    .tags {
        width: 100%;
        height: 3rem;
        padding: 0 0.3rem;
        .tag-list {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            border-bottom: 0.03rem solid #dedede;
            li {

            }
        }
    }
}
